pelican~=4.7
pelican-webassets~=2.0.0
markdown~=3.3.6
pyyaml~=6.0
pystache
more_itertools~=8.0
bleach
requests~=2.27.0
urllib3~=1.26
webassets~=2.0
pyscss~=1.3.7
cssmin~=0.2.0
livereload~=2.6.3
invoke~=1.6.0
git+https://github.com/webosbrew/pelican-theme-webosbrew.git@v1.0.4#egg=pelican-theme-webosbrew