{% extends "page.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title|striptags }} | {{ SITENAME }}{%endblock%}

{% block head %}
  {{ super() }}
  {% assets filters="pyscss", output="styles/apps.css", "styles/apps.scss" %}
  <link href="{{ SITEURL }}/{{ ASSET_URL }}" type="text/css" rel="stylesheet">
  {% endassets %}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <ul class="apps-list">
    {% for package in page.metadata.packages %}
        <li class="app-item">
            <a href="/apps/{{package.id}}">
                <div class="app-icon">
                    <img src="{{package.iconUri}}"/>
                    {% if package.pool == 'non-free' %}
                    <label class="non-free">Non-free</label>
                    {% endif %}
                </div>
                <div class="app-title">{{package.title}}</div>
            </a>
        </li>
    {% endfor %}
    </ul>

    {% set pagination = page.metadata.pagination %}
    {% include "pagination.html" %}

{% endblock %}
