ul.apps-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
  margin: 10px;
  padding: 0px;

  .app-item {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

    .app-icon {
      width: 80px;
      height: 80px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;

      img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
      }
    }

    .app-title {
      padding-bottom: 5px;
    }

    a {
      display: block;
      height: 100%;
    }
  }
}


.apps-paginator {
  text-align: center;
}

.apps-paginator a.current {
  font-weight: bold;
}

@media screen and (max-width: 320px) {
  ul.apps-list {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  ul.apps-list {
    grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
    margin: 5px;
  }
}