@import "variables";

ul.apps-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: #{repeat(auto-fill, minmax(112px, 1fr))};
  margin: 10px;
  padding: 0px;

  .app-item {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

    .app-icon {
      width: 80px;
      height: 80px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .non-free {
        position: absolute;
        bottom: 5px;
        right: 5px;

        background-color: white;
        border-radius: 2px;
        padding: 2px;
        font-size: x-small;
      }
    }

    .app-title {
      margin-top: 5px;
      padding-bottom: 5px;
    }

    a {
      display: block;
      height: 100%;
    }
  }
}

@media screen and (max-width: 320px) {
  ul.apps-list {
    grid-template-columns: #{repeat(auto-fill, minmax(80px, 1fr))};
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  ul.apps-list {
    grid-template-columns: #{repeat(auto-fill, minmax(100px, 1fr))};
    margin: 5px;
  }
}