name: App Submissions

on:
  pull_request:
    branches:
      - main
    paths:
      - 'packages/**'

jobs:
  app-lint:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - name: Install dependencies
        run: |
          sudo apt-get install -y jq
          python3 -m pip install -r ./requirements.txt
          python3 -m pip install yq
          npm install -g @webosbrew/compat-checker

      - name: Check changed packages
        id: changed_files
        uses: dorny/paths-filter@v2
        with:
          list-files: shell

          filters: |
            packages:
              - added|modified: 'packages/**'

      - name: Lint package information
        id: lint_package
        if: ${{ steps.changed_files.outputs.packages == 'true' }}
        run: |
          export lint_retcode=0
          for changed_file in ${{ steps.changed_files.outputs.packages_files }}; do
            echo "## Check Results for $(basename ${changed_file}):" >> /tmp/lint-report.md
            echo >> /tmp/lint-report.md

            echo '### Metadata Lint Result' >> /tmp/lint-report.md
            echo >> /tmp/lint-report.md

            python3 -m repogen.lintpkg -f "${changed_file}" >> /tmp/lint-report.md || export lint_retcode=1
            echo >> /tmp/lint-report.md

            ipkfile=/tmp/$(sha256sum "${changed_file}" | cut -d ' ' -f 1).ipk
            python3 -m repogen.downloadipk -i ${changed_file} -o "${ipkfile}"
            echo '### Compatibility Check Results' >> /tmp/lint-report.md
            compat_check_args="--markdown --github-emoji --quiet"
            min_os=$(yq -r '.requirements.minOs // ""' ${changed_file})
            max_os=$(yq -r '.requirements.maxOs // ""' ${changed_file})
            max_os_exclusive=$(yq -r '.requirements.maxOsExclusive // ""' ${changed_file})
            if [ ! -z "${min_os}" ]; then
              compat_check_args="${compat_check_args} --min-os ${min_os}"
            fi
            if [ ! -z "${max_os}" ]; then
              compat_check_args="${compat_check_args} --max-os ${max_os}"
            fi
            if [ ! -z "${max_os_exclusive}" ]; then
              compat_check_args="${compat_check_args} --max-os-exclusive ${max_os_exclusive}"
            fi
            webosbrew-ipk-compat-checker ${compat_check_args} "${ipkfile}" >> /tmp/lint-report.md || export lint_retcode=1
          done
          exit ${lint_retcode}

      - name: Save Issue Number
        if: ${{ !env.ACT && (success() || failure()) }}
        run: echo $ISSUE_NUMBER > /tmp/issue-number.txt
        env:
          ISSUE_NUMBER: ${{ github.event.number }}

      - name: Upload Check Results
        if: ${{ !env.ACT && (success() || failure()) }}
        uses: actions/upload-artifact@v2
        with:
          name: Check Results
          path: |
            /tmp/lint-report.md
            /tmp/issue-number.txt

      - name: Print Check Results (Local)
        if: ${{ env.ACT && (success() || failure()) }}
        run: cat /tmp/lint-report.md
