name: Check Results

on:
  workflow_run:
    workflows: ["App Submissions"]
    types:
      - completed
permissions: {}

jobs:
  check-results:
    name: Check Results
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: write

      # only needed unless run with comment_mode: off
      pull-requests: write

      # only needed for private repository
      contents: read

      # only needed for private repository
      issues: read
    if: github.event.workflow_run.conclusion != 'skipped'

    steps:
      - id: extract-check-results
        name: Download and Extract Artifacts
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
           mkdir -p artifacts && cd artifacts

           artifacts_url=${{ github.event.workflow_run.artifacts_url }}

           gh api "$artifacts_url" -q '.artifacts[] | [.name, .archive_download_url] | @tsv' | while read artifact
           do
             IFS=$'\t' read name url <<< "$artifact"
             gh api $url > "$name.zip"
             unzip -d "$name" "$name.zip"
           done

           report=$(cat 'Check Results/lint-report.md')
           report="${report//'%'/'%25'}"
           report="${report//$'\n'/'%0A'}"
           report="${report//$'\r'/'%0D'}"
           echo "content=$report" >> $GITHUB_OUTPUT

           echo "issue-number=$(cat 'Check Results/issue-number.txt')" >> $GITHUB_OUTPUT

      - id: find-comment
        name: Find Check Results Comment
        uses: peter-evans/find-comment@v2
        with:
          issue-number: ${{ steps.extract-check-results.outputs.issue-number }}
          comment-author: 'github-actions[bot]'
          body-includes: Check Result

      - name: Report Check Results
        uses: peter-evans/create-or-update-comment@v2
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ steps.extract-check-results.outputs.issue-number }}
          body: ${{ steps.extract-check-results.outputs.content }}
          edit-mode: replace
