name: github pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Cache package manifests
        uses: actions/cache@v2
        env:
          cache-name: cache-package-manifests
        with:
          path: ./cache
          key: ${{ runner.os }}-build-${{ env.cache-name }}-v1

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: python3 -m pip install -r ./requirements.txt

      - name: Generate repository data
        run: python3 -m repogen -i ./packages -o ./content

      - name: Generate site content
        run: pelican content

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output